<script>
  import Avatar from "./Avatar.svelte";
  import Intro from "./Intro.svelte";
</script>

<svelte:head>
  <title>Home</title>
  <meta name="Home" content="home page" />
</svelte:head>

<div class="flex flex-col justify-evenly sm:flex-row">
  <div>
    <Intro />
  </div>
  <div class="pt-[5vh] pl-[1vw]" />
  <div class="flex flex-row justify-center">
    <div class="max-w-[50vw]">
      <Avatar />
    </div>
  </div>
</div>
