<script>
  import github_icon from "$lib/images/github.svg";
  import git_icon from "$lib/images/logo/git_icon.svg";
  import email_icon from "$lib/images/logo/email.svg";
  import linkedin_icon from "$lib/images/logo/linkedin.svg";
</script>

<p class="text-lg animate-fade-down">Hi, my name is</p>
<div class="h-3" />
<p class="text-3xl font-semibold animate-fade-down">
  Chutchatut<br />Sutichavengkul
</p>
<div class="h-10" />
<p
  class="text-lg max-w-lg sm:w-[40vw] min-w-sm animate-fade-down animate-delay-300"
>
  I'm a <span class="font-bold">software engineer</span> who's passionate about
  crafting code that's easy to maintain. With a diverse background, I've worked
  on everything from
  <span class="font-bold">machine learning</span> and
  <span class="font-bold">DevOps</span>
  to <span class="font-bold">backend</span> and
  <span class="font-bold">frontend</span> development.
</p>
<div class="h-6" />
<div class="animate-fade-down animate-delay-700 flex flex-col space-y-1 text-gray-500">
  <a href="mailto:chutchatut@gmail.com">
    <div class="flex flex-row content-center gap-x-2 align-end">
      <img src={email_icon} alt="email icon" class="w-5 h-5 inline" />
      <span>chutchatut@gmail.com</span>
    </div>
  </a>
  <a href="https://gitlab.com/chutchatut">
    <div class="flex flex-row content-center gap-x-2 align-end">
      <img src={git_icon} alt="git icon" class="w-5 h-5 inline" />
      <span>gitlab.com/chutchatut</span>
    </div>
  </a>
  <a href="https://github.com/chutchatut">
    <div class="flex flex-row content-center gap-x-2 align-end">
      <img src={github_icon} alt="github icon" class="w-5 h-5 inline" />
      <span>github.com/chutchatut</span>
    </div>
  </a>
  <a href="https://linkedin.com/in/chutchatut">
    <div class="flex flex-row content-center gap-x-2 align-end">
      <img src={linkedin_icon} alt="linkedin icon" class="w-5 h-5 inline" />
      <span>linkedin.com/in/chutchatut</span>
    </div>
  </a>
</div>
