<script>
  import "../app.css";
  import Header from "./Header.svelte";
</script>

<div
  class="h-screen w-screen overflow-y-scroll fixed -z-50
          bg-gradient-to-b from-blue-950 to-slate-700"
/>
<Header />

<!-- limit width of -->
<div class="flex flex-col items-center center">
  <div class="mt-[10vh] mb-[10vh] max-w-5xl min-w-[200px] w-[90%] md:w-[80%] card p-6 md:p-12">
    <slot />
  </div>
</div>
