<script>
  import { base } from "$app/paths";
</script>

<div
  class="w-full flex fixed card px-4 py-1.5 z-[99998]
        gap-x-2 rounded-none justify-end bg-white-200"
>
  <!-- home -->
  <a href="{base}/home" class="header-item">home</a>

  <!-- multiple links -->
  {#each [["portfolio", ["zeen shop"]], ["interest", ["programming", "game"]]] as [header, items]}
    <div class="group flex flex-col justify-center">
      <span class="header-item">{header}</span>
      <div
        class="flex flex-col absolute
            top-6 z-[99999] text-left p-2 card
            fade-in fade-in-group-hover"
      >
        {#each items as item}
          <a
            href="{base}/{header}/{item.replaceAll(' ', '')}"
            class="p-1 subheader-item text-sm"
          >
            {item}
          </a>
        {/each}
      </div>
    </div>
  {/each}

  <div class="w-4" />
</div>

<style lang="postcss">
  .header-item, .subheader-item {
    @apply capitalize p-2;
    @apply text-black;
  }

  .header-item:hover,
  .subheader-item:hover {
    @apply duration-300 text-blue-400;
  }

  .header-item:link {
    @apply no-underline;
  }
</style>
