<script>
  import { inview } from "svelte-inview";

  let visible = false;
  export let rootMargin = "-30%";
  let first = false;
</script>

<div
  class="min-h-[70vh] min-w-[1px] flex flex-col justify-center"
  use:inview={{ rootMargin: rootMargin, unobserveOnEnter: true }}
  on:inview_enter={() => (visible = true)}
  on:inview_leave={() => (visible = false)}
>
  {#if visible}
    <slot />
  {/if}
</div>
