<script>
  export let header = "";
  export let imgUrl = "";
  export let flip = false;
</script>

<div
  class="flex flex-col
        {flip ? 'lg:flex-row-reverse' : 'lg:flex-row'} 
        gap-y-6 gap-x-12 items-center"
>
  <div class="flex flex-col w-full lg:w-[50vw] gap-y-4 lg:max-w-md">
    {#if header.length != 0}
      <div class="flex flex-row justify-center">
        <div class="text-4xl bold animate-fade-up">
          {header}
        </div>
      </div>
      <div class="h-5" />
    {/if}
    <div class="m-l-[0] animate-fade-up animate-delay-300">
      <slot />
    </div>
  </div>
  <div class="max-h-[80vh] w-full md:max-w-[35vw] flex">
    <div
      class="!animate-delay-500 animate-fade-up ml-auto mr-auto
    {flip ? 'md:animate-fade-right' : 'md:animate-fade-left'}"
    >
      <slot name="img" />
    </div>
    {#if imgUrl.length != 0}
      <img
        alt=""
        class="!animate-delay-500 animate-fade-up object-contain
    ml-auto mr-auto
    {flip ? 'md:animate-fade-right' : 'md:animate-fade-left'}"
        src={imgUrl}
      />
    {/if}
  </div>
</div>
