<script>
  export let imageUrl = "";
  export let headerText = "";
  export let descText = "";
  export let href = "";
</script>

<a
  {href}
  class="max-w-sm w-full md:max-w-[80vw] md:aspect-[9]
  md:flex card min-h-[30vh]"
>
  <!-- image -->
  <div
    class="h-48 md:h-full md:w-[35%] flex-none bg-cover
          rounded-t md:rounded-l md:rounded-tr-none bg-center"
    style="background-image: url('{imageUrl}')"
  />
  <!-- text -->
  <div class="p-4 flex flex-col justify-between leading-normal">
    <div>
      <p
        class="text-gray-900 font-semi-bold text-xl mb-2
                md:text-3xl md:mt-3 md:mb-3"
      >
        {headerText}
      </p>
      <p class="line-clamp-2 md:line-clamp-[8]">
        {descText}
      </p>
    </div>
  </div>
</a>

