<script>
    import ListItem from "../../../components/list/ListItem.svelte";
    import Apex from "$lib/images/games/apex.png";
    import Portal from "$lib/images/games/portal2.jpg";

    import Project from "../../../components/layout/Project.svelte";
</script>

<div class="flex flex-col gap-y-14 md:gap-y-6">
    <ListItem>
        <Project header="Gaming" imgUrl={Portal}>
            <div class="text-justify">
                <p class="indent-10">
                    In the beginning, my introduction to gaming came from
                    watching my sisters play online RPGs. Eventually, I started
                    playing online FPS games with my brother during our limited
                    free time after studying. We had to take turns playing
                    because we only had access to one PC. Gaming swiftly became
                    my go-to method for relieving stress and escaping from the
                    demands of the real world.
                </p>
                <br />
                <p class="indent-10">
                    As I grew older, my taste in video games became more
                    refined, and I began to appreciate games for their
                    narratives and problem-solving elements. I discovered a
                    newfound love for puzzle games, and "Portal 2" quickly rose
                    to the top as my favorite game after completing it.
                </p>
            </div>
        </Project>
    </ListItem>
    <ListItem>
        <Project imgUrl={Apex} flip={true}>
            <div class="text-justify">
                <p class="indent-10">
                    My passion for video games continued to grow, leading me to
                    explore competitive titles such as Dota 2, CS:GO, and Apex
                    Legends. While these games never quite replaced my
                    favorites, they provided a different kind of enjoyment.
                    Playing these competitive games allowed me to make new
                    friends, and some of my fondest memories involved simply
                    goofing around and doing silly things with my buddies.
                </p>
                <p class="indent-10">
                    It's fair to say that I've learned a great deal from these
                    video games. They've imparted valuable lessons in optimizing
                    strategies and resource management. Moreover, they've honed
                    my ability to remain composed even in the most challenging
                    situations, guiding me to calmly analyze my options and
                    choose the best course of action instead of succumbing to
                    panic.
                </p>
            </div>
        </Project>
    </ListItem>
</div>
