<script>
  import ListItem from "../../../components/list/ListItem.svelte";
  import Project from "../../../components/layout/Project.svelte";
  import ZeenShop from "$lib/images/zeenshop/zeenshop.jpg";
  import ZeenShop2 from "$lib/images/zeenshop/zeenshop2.jpg";
</script>

<div class="flex flex-col gap-y-14 md:gap-y-6">
  <ListItem>
    <Project header="Zeen shop app" imgUrl={ZeenShop}>
      <div class="text-justify">
        <p class="indent-10">
          Welcome to Zeen Shop, the innovative app designed to empower shop
          owners like never before. Our platform offers a unique opportunity for
          business owners to accomplish tasks and earn valuable points, which
          can be exchanged for a wide range of exciting items and rewards.
        </p>
        <br />
        <p class="indent-10">
          As a frontend engineer for Zeen Shop, my responsibility includes:
        </p>
        <br />
        <p class="indent-10">
          <span class="font-semibold">Architecting code structure:</span>
          Given the constrained time frame for this greenfield project, it is crucial
          to establish a robust foundation to minimize unnecessary changes. To achieve
          this, I conduct extensive research, exploring methodologies such as feature-first
          grouping and drawing insights from previous projects within the company.
        </p>
      </div>
    </Project>
  </ListItem>
  <ListItem>
    <Project imgUrl={ZeenShop2} flip={true}>
      <div class="text-justify">
        <p class="indent-10">
          <span class="font-semibold">Implementing complex logic:</span>
          Executing complex logic is a key aspect of my responsibilities, which includes
          tackling challenging tasks like third-party authentication and token auto-renewal.
          I'm also responsible for integrating the camera feature in Flutter, which
          presents a range of challenges, including issues such as stretched images,
          incorrect orientation during capture, and inconsistent EXIF data, among
          others.
        </p>
        <br />
        <p class="indent-10">
          <span class="font-semibold">Timeline Estimation:</span>
          My role involves liaising with stakeholders to provide initial project
          timelines and estimate the required man-hours for tasks. This enables us
          to prioritize challenging tasks with low impact for potential deferral
          to the next iteration.
        </p>
      </div>
    </Project>
  </ListItem>
</div>
