@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-mono text-gray-700;
  }
  
  .fade-in {
    @apply invisible duration-300 delay-200 opacity-0;
  }

  .fade-in-group-hover {
    @apply 
      group-hover:visible
      group-hover:translate-y-10
      group-hover:opacity-100;
  }
}

@layer component {
  .card {
    @apply rounded-lg bg-white !shadow-xl;
  }
}
