<script>
  import Maze from "../../../components/maze/Maze.svelte";
  import Project from "../../../components/layout/Project.svelte";
  import MyStatsApp from "$lib/images/code/my_stats_app.png";
  import ICPC from "$lib/images/code/icpc.png";

  import ListItem from "../../../components/list/ListItem.svelte";
</script>

<div class="flex flex-col gap-y-14 md:gap-y-8">
  <ListItem>
    <Project
      flip={true}
      header="The beginning of my adventure"
      imgUrl={MyStatsApp}
    >
      <p class="indent-10 sm:text-justify">
        My coding journey began in grade 10 when I was assigned a statistics
        homework that consisted of multiple pages of tedious calculations. It
        was during this time that I made the decision to develop an Android app
        to input the data and automatically compute the answers for me. Creating
        the app took considerably more time than it would have if I had simply
        written a simple script, but I was immensely satisfied with what I had
        built. So you will have to make do with an artistic rendition from my
        memory.
      </p>
    </Project>
  </ListItem>

  <ListItem>
    <Project header="Journey into the unknown">
      <p class="indent-10 sm:text-justify">
        To further my programming knowledge, I embarked on a journey to enroll
        in Thailand's top-ranked university. This endeavor required years of
        rigorous preparation and attendaning cram schools. During my time at the
        university, I had the opportunity to delve into a wide array of topics,
        ranging from the exciting world of data structures and algorithms to the
        less thrilling realm of software development methodologies.
      </p>
      <p class="indent-10 sm:text-justify">
        However, the most significant takeaway from my university experience was
        gaining a deeper understanding of how the programs I wrote operated at a
        fundamental level. I grasped not only how my code, such as sorting
        algorithms, was implemented, but also how it was translated into machine
        code and executed down to the level of logic gates. Perhaps most
        importantly, I had the privilege of learning how to implement cool
        visualizations, like the one used to generate and solve mazes (I'll
        leave the details of this maze algorithm as an exercise for the reader).
      </p>
      <Maze size={15} slot="img" />
    </Project>
  </ListItem>

  <ListItem>
    <Project flip={true} header="Deeper into the unknown" imgUrl={ICPC}>
      <p class="indent-10 sm:text-justify">
        At university, a friend introduced me to 'competitive programming,' and
        given my highly competitive nature, I was immediately hooked. I began
        solving a multitude of problems on platforms like Codeforces, where the
        emphasis was primarily on pure algorithms and data structures.
      </p>
      <p class="indent-10 sm:text-justify">
        After some time, I secured sponsorship from my university through a
        competition that allowed me to participate in the ACM ICPC regional
        competition. However, during the competition, I was completely
        overwhelmed by a Korean team sitting next to me. This experience
        revealed my weakness in mathematics.
      </p>
      <p class="indent-10 sm:text-justify">
        Determined to improve in this area, I embarked on a different path and
        started learning on AtCoder.jp, a platform with a stronger focus on
        mathematics. There, I delved deeper into mathematical techniques, such
        as calculating inverses modulo mod m and fast exponentiation.
      </p>
      <p class="indent-10 sm:text-justify">
        I believe that tackling these challenging problems has made me a more
        well-rounded programmer.
      </p>
    </Project>
  </ListItem>
</div>
