<script>
  import Maze from "./Maze";

  export let size = 0;
  const maze = new Maze(size);
  let render = false;

  async function run(){
    while (true) {
      maze.generate();
      render = !render;
      await new Promise(r => setTimeout(r, 1000));
      let aStarIter = maze.aStar();
      while(!aStarIter.next().done) {
        await new Promise(r => setTimeout(r, 50));
        render = !render;
      }
      await new Promise(r => setTimeout(r, 5000));
      maze.reset();
    }
  }

  run()
</script>

{#key render}
  <div class="flex flex-row">
    <div class="flex flex-col border border-black">
      {#each Array(size) as _, i (i)}
        <div class="flex flex-row grow">
          {#each Array(size) as _, j (j)}
            {#key [maze.walls[i][j].bottom]}
              <div
                class="border {maze.walls[i][j].getCSS()}
                bg-[{maze.arr[i][j]}]
               w-3 h-3 sm:w-5 sm:h-5 md:w-6 md:h-6
               grow border-transparent"
              />
            {/key}
          {/each}
        </div>
      {/each}
    </div>
  </div>
{/key}

<style>
  .my-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
</style>
